################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Company.Monorepo/CopilotIndices/17.14.1700.50054
/.vs/Company.Monorepo/FileContentIndex
/.vs/Company.Monorepo/v17
/.vs
